.App-header {
  background-color: #333; /* Колір фону */
  color: #fff; /* Колір тексту */
  padding: 20px; /* Відступи всередині блоку */
  text-align: center; /* Вирівнювання тексту по центру */
  font-size: 24px; /* Розмір шрифту */
  font-weight: bold; /* Товщина шрифту */
  border-bottom: 2px solid #ddd; /* Підкреслення нижнього краю */
  display: flex;
  max-height: 10vh;
  justify-content: space-around;
}

.App-logo, .App-menu-icon {
  max-height: 10vh;
}

.App-menu {
  position: absolute;
}